<div class="container">
    <table class="table">
        <tbody>
            <th>
                <h3>Tasks</h3>
            </th>
            <th>
                <h3>Description</h3>
            </th>
            <th>
                <h3>Date</h3>
            </th>
            <th>

            </th>
            <tr *ngFor="let i of list;">
                <td>
                    {{i.name}}
                </td>
                <td>
                    {{i.description}}

                </td>
                <td>
                    {{i.date}}
                </td>
                <td>
                    <!-- <a href="" (click)="editTask(i._id)"> ✎ </a> -->
                    <a href="" (click)="delTask(i._id)"> ❌ </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>